body
{
	background-image:url('./Images/itro.jpg');
}
#logo
{	display:none;
	position: relative;
	left:500px;
	top:200px;
width: 180px;
border: solid;
border-width: 2px;
border-radius: 11px;
background-color:  #3B5998 ;
border-color:  #3B5998 ;
}
a
{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
#block
{
	width: 350px;
	float: left;
}
#non
{
	float: left;
}
#ind
{
	display: none;
	background-color: #FFFFFF;
	position: relative;
	left :510px;
	color: #3B5998;
	top:150px;
	width: 125px;
	height:30px;
	padding: 10px;
	font-size: 25px;
	padding-left: 35px;
	border-left: 10px;
	border-radius: 10px;
}
#cod
{
	display: none;
	color: #3B5998;
	background-color: #FFFFFF;
	position: relative;
	left :510px;
	top:175px;
	width: 125px;
	height:30px;
	padding: 10px;
	font-size: 25px;
	padding-left: 35px;
	border-left: 10px;
	border-radius: 10px;
}
#cat
{
	display: none;
	color: #3B5998;
	background-color: #FFFFFF;
	position: relative;
	left :510px;
	top:200px;
	width: 125px;
	height:30px;
	padding: 10px;
	font-size: 25px;
	padding-left: 35px;
	border-left: 10px;
	border-radius: 10px;

}
#hea
{
	/*position: relative;*/
	font-family: 'Viga', sans-serif;
margin-right: 100px;
margin-left: 0px;
margin-bottom: 0px;
margin-top: 0px;
color: #FFFFFF;
}
#mat
{
	display: none;
	color: #FFFFFF;
	position: relative;
	left : 20px;
	top : -55px;
	width:950px
}

#line
{
	display: none;
	position: relative;
	left: 00px;
	height:225px;
	top: 180px;
	width:2px;
	background-color: #FFFFFF;
}
#ma
{
	color: #FFFFFF;
}
table, td, th
{
border: 1px solid black;
border-collapse: collapse;
}
